$text_color: #212529;
$border_color: #ced4da;
$bg_color: #fff;

$green: #28a745;
$yellow: #ffc107;
$yellow_hover: #e0a800;
$red: #dc3545;
$red_hover: #c82333;

$shadow: 0 0 0 3px;
$blue_focus: rgba(38, 143, 255, 0.3);
$green_focus: rgba(72, 180, 97, 0.5);
$yellow_focus: rgba(222, 170, 12, 0.5);
$red_focus: rgba(225, 83, 97, 0.5);
